body {
    background-color: #0B040D;
    color: #AC91B3;
    font-family: 'Advent Pro', sans-serif;
}

p {
    font-weight: 400;
}

hr {
    color: #cb00fd;
}

* {
    margin: 0;
    padding: 0;
}


h1,
h2 {
    font-weight: 700;
}

/* Header Section */

.left a img {
    width: 90px;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 55px;
    display: inline;
    color: #AC91B3;
    font-weight: 700;

}
nav ul li {
    list-style: none;
    margin: 28px 23px;
}

nav a {
    text-decoration: none;
    color: #AC91B3;

}

a:hover {
    color: white;
}
.left {
    font-size: 6rem;
    font-weight: 700;
    display: flex;
}
.right{
display: flex;
}




/* Home Section */
.buttons {
    display: inline;
}

#whatsapp:hover {
    color: white;
    font-size: 1.03;
}

#whatsapp {
    background-color: #AC91B3;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    color: #592366;
}


.home {
    display: flex;
    justify-content: space-around;
    margin: 120px 0;
    align-items: center;
}

.home button {
    width: 120px;
}

.leftsection {
    font-size: 2rem;
    font-weight: 700;
}

.rightsection {
    align-content: space-around;
}

.rightsection img {
    width: 400px;
    margin: 60px 0;
}

.home div {
    width: 30%;
}

.name {
    color: #592366;
}

#element {
    color: #592366;
}

/* About Section */
#aboutpara {
    padding-bottom: 60px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    color: white;
    font-weight: 100;
}

#aboutheading {
    padding-top: 50px;
    text-align: center;
    color: #592366;
    font-size: 2rem;
}

/* Services Section */
#services {
    margin: 60px;
    color: rgb(8, 15, 15);
}
#services h1 {
    color: #592366;
}

#services h2 {
    color: #592366;
}

.leftservices {
    text-align: center;
    justify-content: flex-start;
}

.rightservices {
    text-align: center;
    justify-content: flex-end;
}

/* Team Section */
.team {
    color: rgb(164, 186, 183);

}

.team h2 {
    color: #AC91B3;
}

.text-gray-500 {
    color: rgb(164, 186, 183)
}

/* Contact Section */
.contact {
    color: #AC91B3;
    margin: 0;
}

.contact h1 {
    color: #592366;
    font-size: 2rem;
}

.contactme {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
}

.formgroup {
    margin-bottom: 20px;
}

#send:hover {
    color: white;
}

.formgroup label {
    display: block;
    margin-bottom: 5px;
}

.formgroup input,
.formgroup textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formgroup textarea {
    height: 100px;
}

.formgroup button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #AC91B3;
    color: #592366;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}


/* Footer */
footer {
    background-color: black;
    color: #AC91B3;
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #592366;
}

a:hover {
    color: white;
}

/* Responsive Design */

@media screen and (max-width: 2000px) {
    .nav a {
      float: none;
      display: block;
      text-align: left;
    }
  
    .nav .icon {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
